extends layout

block content
  title Members
  h1.text-center Members Area
  p List of users
  div.container.mt-5
    table.table.table-hover
      thead.thead-dark
        tr
          th Name
          th Email
          th Username
          th Contact
          th Profile Image
          th Actions
      tbody
        each user in users
          tr
            td= user.name
            td= user.email
            td= user.uname
            td= user.contact
            td
              if user.profileimage
                img(src="/uploads/"+user.profileimage, alt="Profile Image", style="max-width: 50px; max-height: 50px;")
              else
                | No image available
            td
              if person.role === 'admin'
                button.btn.btn-sm.btn-outline-primary(type="button" onclick="editUser('#{user._id}')") Edit
                if person._id !== user._id
                  button.btn.btn-sm.btn-outline-danger(type="button" onclick="deleteUser('#{user._id}')") Delete

  script.
    function editUser(userId) {
      window.location.href = `/users/edit/${userId}`;
    }

    function deleteUser(userId) {
      if (confirm('Are you sure you want to delete this user?')) {
        fetch(`/users/delete/${userId}`, {
          method: 'DELETE',
        })
                .then(response => {
                  if (response.ok) {
                    window.location.reload();
                  } else {
                    alert('Error deleting user.');
                  }
                })
                .catch(error => console.error('Error:', error));
      }
    }
